.content {
    flex: 1;
    min-width: 1px;
}

.article-list .item--active {
    transform: perspective(2500px) rotateX(0);
}

.nav ul {
    flex: 1;
    margin: 0;
    padding: 0px 0 5%;
    list-style: none;
    counter-reset: item;
}

.panel-heading{
    text-align: center;
    font-size: 120%;
}

.pagination.one {
    text-align: center;
    margin-top: 40px;
    width: 100%;
}



.nav ul.menu_list li {
    margin-top: 5px;
    line-height: 1.4rem;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

article.post {
    position: relative;
    margin: 3rem auto;
    padding-bottom: 2rem;
    border-bottom: #EBF2F6 1px solid;
    word-wrap: break-word;
    width: 95%;
}
.avatar {
    border-radius: 100%;
    height: 24px;
    margin-right: 9px;
    width: 24px;
}

a.post-title::begin{
    color: rgba(10,10,10,1) !important;
}

a.post-title:hover{
    color: rgba(255,35,101,1) !important;
}

img {
    max-width: 100%;
    height: cover;
}

.post-meta {
    color: #9eabb3;
    font-family: "Open Sans", "Microsoft Yahei", 'Helvetica';
    font-size: 1.5rem;
    line-height: 2.2rem;
    margin: 1.75rem 0 0 0;
}

div.poster-830{
    background-color: #ddd !important;
}

div.nav.navbar-nav.navbar-right{
    background-color: #ddd;
}

div.container.header{
    padding-top: 7%;
    padding-bottom: 7%;
}


footer.yewei {
    background-color: #000;
    padding-left: 0px !important;
    padding-right: 0px !important;
    top: 0;
    left: 0;
    width: 100%;
    font-size: 130%;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: DFPOP1-W9;
}


ul.social-menu {
    list-style-type: none;
    margin: 0 -6px 7px 0;
    overflow: hidden;
    padding: 0px;
    text-align: right;
}
#menu li{
    height: 73.4 !important;
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 43px !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center !important;
}

i {
    border-top: 5px !important;
    padding-top: 0px !important;
    line-height: 39px;
}

.pagination__item {
    width: 30px;
    height: 30px;
    background: #15171a;
    border-radius: 50%;
    display: inline-block;
    color: #fff;
    line-height: 30px;
    font-size: 12px;
    margin: 0 5px 40px;
}

article.post.fn-wrap{
    text-align: center!important;
}
