{% extends 'base.html' %}

{# 填充标题的block #}
{% block title %}我的网站{% endblock %}
{% block nav_blog_active %}active{% endblock %}

{% load staticfiles %}
{% load comment_tags %}

{% block header_extends %}
    <link rel="stylesheet" type="text/css" href="{% static 'blog.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'blog_list.css' %}">
    <link rel="stylesheet" href="{% static 'css/iconfont.css' %}">
    <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}">
    <!-- 博客分类隐藏栏CSS部分 -->
    <style media="screen">
        li {
            list-style: none;
        }
        .side_open {
            position: fixed;
            top: 9%;
            right: 0;
            width: 220px;
            height: 100%;
            background-color: #000;
        }
        .side_btn {
            position: absolute;
            top: 35%;
            left: -30px;
            width: 50px;
            height: 140px;
            background-color: #000;
        }
        .side_btn li {
        width: 50px;
        height: 140px;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #000;
        display: none;
        }
        .side_btn li:first-child {
            display: block;
        }
    </style>
{% endblock %}


{# 填充内容的block #}
{% block content %}
    <section id="slider-carousel">
        <div id="post-831" class="item" style="background-image:url(../static/image/9.jpg)!important;background-size: cover; height: 20%;">
            <div class="container header">
                <div class="panel-heading">
                    <hr>
                    {% block blog_list_title %}<font size=8 color="#fff">Blog List</font><font size="6" color="#fff">（ Sum：{{ page_of_blogs.paginator.count }} ）</font>{% endblock %}
                    <hr>
                </div>
            </div>
        </div>
    </section>
    
    <div class="post-830" style="height: 86px;">
        <div class="container pas">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <!-- 用户登录 -->
                    <ul class="nav navbar-nav navbar-right">
                        {% if not user.is_authenticated %}
                            <li><a href="{% url 'login' %}?from={{request.get_full_path}}">
                                登陆</a>
                            </li>
                            <li><a href="{% url 'register' %}?from={{request.get_full_path}}">
                                注册</a>
                            </li>
                        {% else %}
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true">
                                    <br>
                                    {% if user.has_nickname %}
                                        {{ user.username }} ({{user.get_nickname}})
                                    {% else %}
                                        {{ user.username }}
                                    {% endif %}
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="{% url 'user_info' %}">个人资料</a></li>
                                    <li><a href="{% url 'change_password' %}">修改密码</a></li>
                                    {% if user.is_staff or user.is_superuser %}
                                        <li><a href="{% url 'admin:index' %}">后台管理</a></li>
                                    {% endif %}
                                    <li><a href="{% url 'logout' %}?from={{request.get_full_path}}">退出</a></li>
                                </ul>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <!-- 博客列表 -->
            <div class="col-sm-12 col-md-12 col-lg-12">
                <main id="content">                
                    {% for blog in blogs %}
                        <article class="post fn-wrap">
                            <header>
                                <h2 class="post-title">
                                    <a href="{% url 'blog_detail' blog.pk %}">
                                        <font color="#000">{{ blog.title }}</font>
                                    </a>
                                </h2>
                            </header>
                            <footer class="post-meta">
                                <span>
                                    <img class="avatar" title="88250" alt="88250" src="{% static 'image/headimg.jpg' %}">
                                    {{ blog.author }}&nbsp;&nbsp;
                                    on&nbsp;&nbsp;
                                </span>
                                <span>
                                    <span class="glyphicon glyphicon-tag"></span> 
                                    <a href="{% url 'blogs_with_type' blog.blog_type.pk %}"><font color="#aaa">{{ blog.blog_type }}</font></a>&nbsp;&nbsp;
                                </span>
                                <time>
                                    &nbsp;&nbsp;
                                    <span class="glyphicon glyphicon-glyphicon glyphicon-time" aria-hidden="true"></span>&nbsp;{{ blog.created_time|date:"Y-m-d" }}&nbsp;&nbsp;
                                </time>&nbsp;&nbsp;
                                <span class="glyphicon glyphicon-glyphicon glyphicon-search" aria-hidden="true"></span>
                                {{blog.get_read_num}}&nbsp;&nbsp;&nbsp;&nbsp;
                                <span class="glyphicon glyphicon-glyphicon glyphicon-edit" aria-hidden="true"></span>
                                {% get_comment_count blog %}&nbsp;&nbsp;
                                <br><br>
                                <p><font size="3">{{ blog.content|striptags|truncatechars:50 }}……</font></p>
                            </footer>
                        </article>
                    {% empty %}
                        <div class="blog">
                            <h4>-- 暂无博客，敬请期待 --</h4>
                        </div>
                    {% endfor %}
                </main>
                <!-- 分页器 -->
                <div class="pagination one">
                    <nav class="pagination">
                        {# 上一页 #}
                        <li class="pagination__item">
                            {% if page_of_blogs.has_previous %}
                                <a href="?page={{page_of_blogs.previous_page_number}}" aria-label="Previous" class="pagination__item">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            {% else %}
                                <span aria-hidden="true">&laquo;</span>
                            {% endif %}
                        </li>
                        {# 全部页码 #}
                        {% for page_num in page_range %}
                            {% if page_num == page_of_blogs.number %}
                                <li class="active" class="pagination__item"><span>{{page_num}}</span></li>
                            {% else %}
                                {% if page_num == '...' %}
                                    <li ><span class="pagination__item">{{'...'}}</span></li>
                                {% else %}
                                    <li><a href="?page={{ page_num }}" class="pagination__item">{{page_num}}</a></li>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                        {# 下一页 #}
                        <li class="pagination__item">
                            {% if page_of_blogs.has_next %}
                                <a href="?page={{page_of_blogs.next_page_number}}" aria-label="Next" class="pagination__item">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            {% else %}
                                <span aria-hidden="true">&raquo;</span>
                            {% endif %}
                        </li>
                    </nav>
                    <p><font size=2>
                            共有{{ page_of_blogs.paginator.count }}篇博客，
                            当前第{{ page_of_blogs.number }}页，
                            共有{{ page_of_blogs.paginator.num_pages }}页
                        </p></font>
                </div>
                    

            </div>
            <!-- 博客分类隐藏栏 -->
                <div class="nav">
                <!-- 博客分类按钮 -->
                    <!-- HTML部分 -->
                    <div class="side_open" id="side_open">
                        <a href="javascript:void(0);" class="side_btn" id="side_btn">
                            <ul>
                                <li>
                                    <br><br><br>&nbsp;
                                    <span class="glyphicon glyphicon-align-justify" aria-hidden="true" style="color:#ddd"></span>  
                                </li>
                                <li>
                                    <br><br>&nbsp;
                                    <span class="glyphicon glyphicon-align-justify" aria-hidden="true" style="color:#ddd"></span>
                                    <br><br>
                                    <p style="color:#ddd">分类</p>
                                </li>
                            </ul>
                        </a>
                        <!-- 博客分类 -->
                        <div class="two">
                          <div class="heading"><font size=4 color="#ddd">个人分类</font></div>
                          <div class="body">
                            <ul class="blog-types">
                                {% for blog_type in blog_types %}
                                    <li> <span class="glyphicon glyphicon-send" aria-hidden="true" style="color:#ddd;"></span>
                                        <a href="{% url 'blogs_with_type' blog_type.pk %}">
                                           <font size='2'>{{ blog_type.type_name }}  ( {{blog_type.blog_count}} 篇)</font>
                                        </a>
                                    </li>
                                {% empty %}
                                    <li>暂无分类</li>
                                {% endfor %}
                            </ul>
                          </div>
                        </div>
                        <font color="#ddd"><p style="width: 100%">&nbsp;————————————————</p></font>
                        <div class="three">
                            <div class="heading"><font size=4 color="#ddd">日期归档</font></div>
                            <div class="body">
                                <ul>
                                    {% for blog_date,blog_count in blog_dates.items %}
                                        <li>
                                            <span class="glyphicon glyphicon-send" aria-hidden="true" style="color:#ddd;"></span>
                                            <a href="{% url 'blogs_with_date' blog_date.year blog_date.month %}"><font size='2'>{{ blog_date|date:"Y年m月" }} ( {{blog_count}} 篇)</font>
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>           
        </div>
    </div>
    <footer class="yewei">
                    <div class="footer container">
                        <div class="row">
                            <div class="col-xs-12 col-xs-12 col-lg-12">
                                <div class="col-sm-12">
                                    <p class="navbar">
                                        <a class="scroll-left icon-arrow-left b" href="#" data-offset="-45"></a>
                                    </p>
                                </div>
                                <font color="#bbb">
                                    <div class="col-xs-6">
                                        <p>Devin (ZX)</p>
                                    </div>
                                    <div class="col-xs-6">
                                        <p class="navbar-right">Copyright © 一只没有脚的猪</p>
                                    </div>
                                    <div class="col-xs-6">
                                        <p>浙江某丝绸学校即将毕业</p>
                                    </div>
                                    <div class="col-xs-6">
                                         <p class="navbar-right">Devin's Homestead</p>
                                    </div>
                                    <div class="col-xs-6">
                                        <p>
                                            MAIL: zxzx1010732441mei@163.com
                                        </p>
                                    </div>
                                    <div class="col-xs-6">
                                        <p class="navbar-right">All rights reserved</p>
                                    </div> 
                                    <div class="col-xs-6">
                                        <p>QQ: 1010732441</p>
                                    </div>  
                                    <div class="col-xs-6">
                                        <p class="navbar-right">浙ICP备*******号</p>
                                    </div>
                                    <div id="social" class="col-xs-6 col-md-6 col-lg-6"style="padding-top: 40px;">
                                        <div class="nav navbar-nav navbar-left">
                                            <p>Contact With Me:</p>
                                        </div>
                                    </div>  
                                    <div class="col-xs-12 col-md-6 col-lg-6">
                                        <ul id="social-menu" class="nav navbar-nav navbar-right">
                                            <li>
                                                <!-- Button trigger modal -->
                                                <a type="button" class="btn btn-lg" data-toggle="modal" data-target=".bs-example-modal-sm">
                                                    <i class="fa fa-wechat fa-2x"></i>
                                                </a>
                                                <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
                                                  <div class="modal-dialog modal-sm" role="document">
                                                    <div class="modal-content">
                                                        <img src="{% static 'image/smallicon/myweixin.png' %}">
                                                    </div>
                                                  </div>
                                                </div>
                                            </li>
                                            <li><a href="https://weibo.com/6088357926/profile?topnav=1&wvr=6&is_all=1"><i class="fa fa-weibo fa-2x"></i></a></li>
                                            <li><a href="https://github.com/Devinyy?tab=repositories"><i class="fa fa-github fa-2x"></i></a></li>
                                            <li><a class="zhihu" href="https://www.zhihu.com/people/zhe-ye-10-87/activities"><i class="iconfont icon-weizhi"></i></a></li>
                                        </ul>
                                    </div>  
                                 </font>            
                            </div>
                        </div>
                    </div>
        </footer>

    <!-- 博客分类隐藏栏JS部分 -->
    <script src="{ % static 'jquery-1.12.4.min.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            var isHiden = true; /*控制切换菜单*/
            $('#side_btn').click(function(){
                if(isHiden){
                    $('#side_open').animate({right:'-=220px'});//菜单块向右移动
                }else{
                    $('#side_open').animate({right:'+=220px'}); //菜单块向左移动
                }
                isHiden = !isHiden;
            });
        // isHiden只是返回部件的隐藏属性，并不能表示部件当前的真实状态。比如A部件有个子部件B，而A处于隐藏状态，子部件B必然也不可见，但子部件B本身的isHiden还是为false。
            // 信号量
            var index = 0;
            // 更改按钮文字の点击事件
            $('#side_btn').click(function(){
                //防流氓点击
                if($('#side_btn ul li').is(":animated")){
                    return;
                }
                // 老文字淡出
                $('#side_btn ul li').eq(index).fadeOut(0,function(){
                    // 信号量
                    index --;
                    if(index < 0){
                        index = 1;
                    }
                    // 新文字淡入
                    $('#side_btn ul li').eq(index).fadeIn(0);
                });
            });
        });
    </script>
{% endblock %}
